{% extends 'index.html' %}

{% block main %}

<div class="jumbotron jumbotron-fluid" style="height: 100vh; padding-top: 20%;">
    <div class="container justify-content-center">
        <h1 class="jumbotron-heading display-4 text-capitalize">Seasons</h1>
        <hr class="my-5">
        <p class="lead">Short blogs to learn about seasons around the world</p>
        <a class="btn btn-primary mt-3 text-white" href="{% url 'seasons' %}">Let's Learn about Seasons!</a>
    </div>
</div>

{% endblock %}