{% extends 'index.html' %}

{% block main %}

<div class="jumbotron jumbotron-fluid d-flex align-items-center" style="height: 100vh">
    <div class="container justify-content-center">
        <h1 class="jumbotron-heading display-4 text-capitalize">Learn-Blog</h1>
        <hr class="my-5">
        <p class="lead">Short blogs to learn facts about the world and beyond ...</p>
        <a class="btn btn-primary mt-3 text-white" href="{% url 'seasons' %}">Let's Learn about Seasons!</a>
    </div>
</div>

{% endblock %}